<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Mint Task 2!{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('assets/css/foundation.css') }}">
        <script src="{{ asset('assets/js/foundation.js') }}"></script>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="top-bar">
            <div>
                <a href="{{ path('app_login') }}">Home</a>
            </div>

            <div class="top-bar-right">
                <ul class="menu">
                    {% if app.user %}
                        <li>
                            <a href="{{ path('app_logout') }}" class="button alert small">Logout</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <div class="grid-container">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
